[Unit]
Description=Run Edu-rover server

After=network-online.target
Wants=network-online.target

[Service]
ExecStart=python3 -m pyedurov2 --name {advertising_name}
User={user_name}

SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
